@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  /* scroll-snap-type: y proximity; */
  scroll-padding: 40px;
}

body {
  font-family: minion-variable-concept;
  font-weight: 300;
}

section {
  /* height: 100vh; */
  scroll-snap-align: start;
}

@font-face {
  font-family: "minion-variable-concept";
  src: url("../public/fonts/Minion-Variable-Concept.otf");
}

/* .parent {
  width: 400px;
  height: 400px;
  background-color: black;
}

.child {
  width: 100px;
  height: 100px;
  background-color: green;
  transition: transform 1s ease-in;
}

.parent:hover .child {
  animation: left-to-right 1s ease-in forwards;
}

@keyframes left-to-right {
  33% {
    transform: translateX(300%) translateY(300%);
  }

  66% {
    transform: translateY(300%);
  }

  100% {
    transform: translateX(300%);
  }
} */
