@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-p-10 scroll-smooth bg-secondary;
  }

  section {
    @apply snap-start;
  }
}

@layer components {
  .h1 {
    @apply py-6 text-3xl font-bold;
  }

  .h2 {
    @apply py-4 text-xl font-bold;
  }
}

@font-face {
  font-family: "nexa";
  src: url("../public/fonts/Nexa-Regular.otf");
  font-display: swap;
}

@font-face {
  font-family: "nexa";
  src: url("../public/fonts/Nexa-Light.otf");
  font-display: swap;
}

@font-face {
  font-family: "minion-variable-concept";
  src: url("../public/fonts/Minion-Variable-Concept.otf");
  font-display: swap;
}
.scrollable_menu {
  max-height: 704px;
  overflow: scroll;
}
iframe {
  max-width: 100%;
}
.chidden {
  display: none;
}
.cvisible {
  display: block;
}
#welcome.bg-primary {
  position: fixed;
  z-index: 100;
  width: 100%;
}
@media(max-width: 767px){
  .scrollable_menu {
    max-height: unset;
  }
}
@media(min-width: 768px) and (max-width: 1023px) {
  .scrollable_menu {
    max-height: 524px;
    overflow: scroll;
  }
}
/* .parent {
  width: 400px;
  height: 400px;
  background-color: black;
}

.child {
  width: 100px;
  height: 100px;
  background-color: green;
  transition: transform 1s ease-in;
}

.parent:hover .child {
  animation: left-to-right 1s ease-in forwards;
}

@keyframes left-to-right {
  33% {
    transform: translateX(300%) translateY(300%);
  }

  66% {
    transform: translateY(300%);
  }

  100% {
    transform: translateX(300%);
  }
} */
